.main-chat
  .main-chat__header
    .main-chat__header__left-content
      %p.group-name グループ名
      %ul.current-member
        %li.member-tag Member：
        %li.member-name わしです
    =link_to "#" do
      .right-content__edit-button Edit
  .main-chat__body
  .main-chat__footer