.main-chat
  .main-chat__header
    .main-chat__header__left-content
      %p.group-name グループ名
      %ul.current-member
        %li.member-tag Member：
        %li.member-name わしです
    =link_to "#", class:"edit-button" do
      Edit
  .main-chat__body
    .message-1
      %ul.message-info
        %li.user-name わし
        %li.time-stamp 2020/03/12(Thu) 11:00:00
      %p.message-content めぇーせぇーじぃー
    .message-2
      %ul.message-info
        %li.user-name おのれ
        %li.time-stamp 2020/03/12(Thu) 12:38:00
      %p.message-content おのれのみじゅくさをしりました。


  .main-chat__footer