.side-bar
  .side-bar__header
    .side-bar__header__contents
      %p.name-box ToKaGe
      %p.icons
        = link_to "#", class:"create-group-icon" do
          %i.far.fa-edit
          %span<>
        = link_to "#", class:"edit-account-icon" do
          %i.fas.fa-cog
          %span<>
  .side-bar__body
    .group-list-1
      =link_to "#", class:"group-name" do
        1
      %p.group-message il n'y a pas le message
    .group-list-2
      =link_to "#", class:"group-name" do
        due
      %p.group-message no message
    .group-list-3
      =link_to "#", class:"group-name" do
        trois
      %p.group-message on y va
    .group-list-4
      =link_to "#", class:"group-name" do
        quatre
      %p.group-message aujourd'hui, il fait froid!