.side-bar
  .side-bar__header
    .side-bar__header__contents
      %p.name-box わし
      %p.icons
        = link_to "#", class:"create-group-icon" do
          %i.far.fa-edit
          %span<>
        = link_to "#", class:"edit-account-icon" do
          %i.fas.fa-cog
          %span<>
  .side-bar__body
    .group-list-1
      =link_to "#", class:"group-name" do
        テストやねん
      %p.group-message まだないねん
    .group-list-2
      =link_to "#", class:"group-name" do
        てすとやねん２
      %p.group-message まだまだないねん
    .group-list-3
      =link_to "#", class:"group-name" do
        これもテストやねん
      %p.group-message まだまだまだないねん
    .group-list-4
      =link_to "#", class:"group-name" do
        いわずもがなてすとやねん
      %p.group-message あらしませんわ