-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml

.wrapper
  .side-bar
    -# = render "side_bar"
    .side-bar__header
      .side-bar__header__contents
        %p.side-bar__header__contents__user-name ã‚ã—
        %ul.side-bar__header__contents__icons
          %li.left-icon
            = link_to "#" do
              %i.far.fa-edit
              %span<>
          %li.right-icon
            = link_to "#" do
              %i.fas.fa-cog
              %span<>
    .side-bar__group-list
  .main-chat
    -# = render "main_chat"
    .main-chat__group-info
    .main-chat__message-list
    .main-chat__message-form