-# %h1 Messages#index
-# %p Find me in app/views/messages/index.html.haml

.wrapper
  .side-bar
    -# = render "side_bar"
    .side-bar__header
      .side-bar__header__contents
        .side-bar__header__contents__user-name わし
        .side-bar__header__contents__icons
          .left-icon
            = link_to "#" do
              %i.far.fa-edit
              %span<>
          .right-icon
            = link_to "#" do
              %i.fas.fa-cog
              %span<>
    .side-bar__body
      .group-list-1
        %p.group-name テストやねん
        %p.group-message まだないねん
      .group-list-2
        %p.group-name まだできてないゆうてるやろ
        %p.group-message おこんなや
        .side-bar__body
      .group-list-3
        %p.group-name インデントにきぃつけや
        %p.group-message せやねん
      .group-list-4
        %p.group-name ケアレスのC
        %p.group-message 間抜けのM
  .main-chat
    -# = render "main_chat"
    .main-chat__header
      .main-chat__header__left-content
        .main-chat__header__left-content__group-name グループ名
        .main-chat__header__left-content__current-member
          .main-chat__header__left-content__current-member__member Member：
          .main-chat__header__left-content__current-member__name わしです
      =link_to "#" do
        .main-chat__header__edit-button Edit
    .main-chat__body
    .main-chat__footer