.wrapper
  = render 'messages/side_bar'
  -# =
  -# .main-chat__header
  -# .main-chat__header__left-content
  -#   %p.group-name ここにグループ名を表示
  -#   %ul.members
  -#     %li.member-tag Member：
  -#     %li.member-name
  -#       - @users.each do |user|
  -#         %li= user.name
  -# =link_to "#", class:"edit-btn" do
  -#   Edit