* {
  box-sizing: border-box;
}

$color_font_side-bar: #ffffff;
$color_edit-botton: #38aef0;

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  .side-bar {
    height: 100vh;
    width: 300px;
    @import "side-bar__header";
    @import "side-bar__body";
  }
  .main-chat {
    width: calc(100vw - 300px);
    height: 100vh;
    @import "main-chat__header";
    @import "main-chat__body";
    @import "main-chat__form";
  }
}