.side-bar__header {
  height: 100px;
  background-color: #253141;
  display: flex;
  align-items: center;
  &__contents {
    height: 20px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    p.contents__name-box {
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      color: $color_font_side-bar;
    }
    ul.contents__icons {
      width: 60px;
      display :flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      li.left-icon {
        i.far.fa-edit {
          padding-right: 5px;
          color : $color_font_side-bar;
        }
      }
      li.right-icon {
        i.fas.fa-cog {
          color : $color_font_side-bar;
        }
      }
    }
  }
}