@mixin group_name {
  text-decoration: none;
  color :$color_font_side-bar;
  font-size: 15px;
  margin-bottom: 5px;
}

@mixin group_message {
  color :$color_font_side-bar;
  font-size: 11px;
}



.side-bar__body {
  height: calc(100% - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0;
  .group {
    margin-bottom: 40px;
    a.group__name {
      @include group_name;
    }
    p.group__message {
      @include group_message;
    }
  }
}